@import url("../../../compoments/fonts.css");
@import url("../../../compoments/themes.css");

.TODO {
  width: 100%;
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Align items in a row */
  justify-content: space-between; /* Distribute children with space between */
  align-items: center; /* Vertically align items */
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.TODOTextArea {
  width: 80%;
  border: none;
  height: 100%; /* Adjust height as needed */
  overflow-wrap: break-word; /* Enable text wrapping */
  overflow-y: auto; /* Allow vertical scrolling if necessary */
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: var(--bright-grey);
  color: var(--orange);
}

.TODODeleteButton {
  width: 10%; /* Takes up 10% of the container */
  height: auto; /* Adjust height to match other elements */
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: var(--orange);
}

.TODOMarkDoneInput {
  width: 10%;
  height: auto; /* Adjust height to match other elements */
  box-sizing: border-box;
  border: none;
  background-color: var(--orange);
  color: var(--orange);
  accent-color: var(--orange);
}

#TODOBox {
  display: block;
  overflow-y: scroll;
  max-height: 500px;
  background-color: var(--bright-grey);
  color: var(--bright-white);
}

#TODOBox button:first-child {
  font-family: "3270";
  font-size: 100%;
  background-color: transparent;
  border: transparent;
  width: 5vh;
  height: 5vh;
  font-size: 300%;
  color: var(--orange);
}

#TODOBox button:first-child:hover {
  text-shadow:
    0 0 5px var(--orange),
    0 0 10px var(--orange),
    0 0 15px var(--orange),
    0 0 20px var(--orange),
    0 0 25px var(--orange);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
