@import url("../../../compoments/fonts.css");
@import url("../../../compoments/themes.css");

/* tool bar collapsible */
.collapsible {
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  color: var(--black);
}

.collapsible:nth-of-type(1) {
  background-color: var(--purple);
}

.collapsible:nth-of-type(2) {
  background-color: var(--orange);
}

.collapsible:nth-of-type(3) {
  background-color: var(--yellow);
}

.collapsible:nth-of-type(4) {
  background-color: var(--cyan);
}

.collapsible:nth-of-type(5) {
  background-color: var(--red);
}

.collapsible:nth-of-type(6) {
  background-color: var(--green);
}

.content {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 5px;
  width: 100%; /* Occupy 80% of the screen width */
  margin: 0 auto;
  border: 1px solid #ccc;
}

.content *::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

.content *::-webkit-scrollbar-track {
  background-color: var(--black); /* Scrollbar track color */
}

.content *::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded edges for the thumb */
}

.content *::-webkit-scrollbar-thumb:hover {
  background-color: var(--selection); /* Thumb color on hover */
}

.content:nth-of-type(1) {
  color: var(--foreground);
}
/**/
/* .content:nth-of-type(2) { */
/*   background-color: var(--bright-gray); */
/* } */
/**/
/* .content:nth-of-type(3) { */
/*   background-color: var(--cyan); */
/* } */
/**/
/* .content:nth-of-type(4) { */
/*   background-color: var(--yellow); */
/* } */
/**/
/* .content:nth-of-type(5) { */
/*   background-color: var(--orage); */
/* } */
/* .content:nth-of-type(6) { */
/*   background-color: var(--red); */
/* } */

.html-content {
  background-color: var(--black);
  margin: 0 auto;
  border: transparent;
}

.html-content-container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the direction to align the content on the right */
  position: relative;
  height: 100%;
}

.html-content {
  width: 30%; /* Default width */
  min-width: 300px; /* Minimum width */
  max-width: 50%; /* Maximum width */
  overflow-y: auto; /* Scroll if content overflows vertically */
  background: var(--background); /* Example background */
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for right-side div */
}

.resize-handle {
  width: 5px;
  cursor: ew-resize;
  background: var(--selection); /* Example color for the handle */
  position: relative;
  z-index: 10;
}
