@import url("../../compoments/fonts.css");
@import url("../../compoments/themes.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "3270";
}

html {
  background-image: url("./assests/img/dracula-cat-6272a4.png");
  background-size: stretch;
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  height: 5vh;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 3vh;
}

button {
  width: auto;
  height: 5vh;
  background-color: transparent;
  color: var(--foreground);
  border: transparent;
  font-size: 6vh;
}

button:hover {
  color: var(--purple);
}

select {
  width: 50%;
  height: 5vh;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 3vh;
}

h2 {
  font-size: 10vh;
  text-align: center;
  color: var(--pink);
  /* text-shadow: */
  /*   0 0 5px var(--cyan), */
  /*   0 0 10px var(--cyan), */
  /*   0 0 15px var(--cyan), */
  /*   0 0 20px var(--cyan), */
  /*   0 0 25px var(--cyan); */
}

.blur-box {
  position: relative;
  border: transparent;
}

.blur-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  backdrop-filter: blur(8px);
  z-index: -1;
  border: transparent;
}

label {
  font-size: 5vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
  border: 3px solid var(--foreground);
  border-radius: 10px;
  padding: 2vh;
  margin: 2vh;
  color: var(--foreground);
  font-size: 3vh;
}
