body,
head {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  text-align: center;
}

#courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue; /* Optional: background color */
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  position: relative;
}

.course-container::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

.course {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 30%;
  height: 100px;
}

.course:hover {
  background-color: darkblue;
}

.corner-button {
  position: absolute;
  top: 0;
  left: 0; /* Example: top-right corner */
  padding: 10px;
  background-color: transparent; /* Transparent background */
  color: white; /* Button text color */
  border: 1px solid white; /* Optional: gives it a visible border */
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Add a hover effect */
.corner-button:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Slightly opaque on hover */
}
