@import "../../compoments/themes.css";
@import "../../compoments/fonts.css";

body,
head {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  background-color: var(--black); /* Scrollbar track color */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded edges for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--selection); /* Thumb color on hover */
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--purple);
  color: var(--foreground);
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  font-size: 7vh;
}

h4 {
  text-align: center;
}

.corner-button {
  font-family: "3270";
  font-size: 4vh;
}

#courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assests/img/dracula-galaxy-bd93f9.png"); /* Optional: background color */
  color: var(--foreground); /* Optional: text color */
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  position: relative;
}

#courses-container::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}
#courses-container::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

#courses-container::-webkit-scrollbar-track {
  background-color: var(--black); /* Scrollbar track color */
}

#courses-container::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded edges for the thumb */
}

#courses-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--selection); /* Thumb color on hover */
}

.course {
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: 5px solid var(--foreground);
  padding: 10px;
  margin: 10px;
  width: 30%;
  height: 100px;
  word-wrap: break-word; /* Enables wrapping at any word */
  overflow-wrap: break-word; /* Modern equivalent for better compatibility */
}

.course * {
  word-wrap: break-word; /* Enables wrapping at any word */
  overflow-wrap: break-word; /* Modern equivalent for better compatibility */
}

.course:hover {
  background-color: var(--selection);
}

.corner-button {
  position: absolute;
  top: 0;
  left: 0; /* Example: top-right corner */
  padding: 10px;
  background-color: transparent; /* Transparent background */
  color: white; /* Button text color */
  border: transparent; /* Optional: gives it a visible border */
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Add a hover effect */
.corner-button:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Slightly opaque on hover */
}
